.TwitterFeedCompContainer{
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    align-items: flex-start;
    height: 100%;

}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 15%;
    font-weight: bold;
    width: 100%;    
    color: #ffffff;
    background-color: #153243;
}

.twitterCard {
    width: 100%;
    height: 86%;
}