.TwitterFeedCompContainer{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    height: 10%;
    width: 100%;
}

.twitterCard {
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    height: 90%;
}