.SearchFilterCompContainer{
    display: flex;
    flex-flow: column nowrap;
    /* color: bisque; */
    align-items: center;
    height: 81%;
}

.searchBar{
    display: flex;
    margin-top: 40px;    
    height: 10%;
}

.searchResultsTitle{
    align-self: flex-start;
    padding-top: 30px;
    margin-left: 55px;
    display: flex;
    color: rgb(77,80,85);
    font-size: 27px;
    font-weight: bold;
}

.searchedCards{
    background-color: rgb(247, 252, 251);
    z-index: 0;
    height: 90%;
    margin: 0 3vw 0;
    border: 1px;
    border-style: solid;
    border-radius: 0.5em;
    border-width: 0;
}