.SearchFilterCompContainer{
    display: flex;
    flex-flow: column nowrap;
    color: bisque;
    /* width: 100%; */
    align-items: center;

}

.searchBar{
    display: flex;
    padding: 20px 0 0 0;
    height: 50%;
}

.filter{

}