.newsCardCompContainer1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 7px;
    height: 100%;
    padding: 0;
}

.newsCompBody1{
    display: flex;    
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: row wrap;
    height: 100%;
}

.searchedCards1 {
  height: 90%;
}

.busySpinner1 {
  text-align: center;
}