.webapp{
    display: flex;
    margin: 0;
    color: #000;
    background-color: blanchedalmond;
    height: 100vh;
}

.appCL{
    display: flex;
    flex-flow: row nowrap;
}

.appHL{
    display: flex;
    flex-flow: column nowrap;
}

.topContainer {
    display: flex;
    width: 100%;
}

.content {
    width:70%;
    background-color: aqua;
}

.twitter {
    margin-left: 10px;
    width:30%;
    min-width: 300px;
    max-width: 350px;
}