.webapp{
    display: flex;
    margin: 0;
    color: #000;
    background-color: #999999;
    height: 100vh;
}

.appCL{
    display: flex;
    flex-flow: row nowrap;
}

.appHL{
    display: flex;
    flex-flow: column nowrap;
}

.topContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.content {

    width:77%;
    background-color: rgb(247, 252, 251);
    overflow: hidden;
}

.twitter {
    padding: 0;
    border: 1em;
    border-style: solid;
    border-width: 0.15em;
    width: 23%;
    min-width: 300px;
    max-width: 350px;
    color: #000000;
    background-color: rgb(247, 252, 251);

}